body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #6ec3fc;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 8px;
}

.content {
  background: #a4ffe1;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e5ff9d;
  text-align: center;
  padding: 20px;
}

button {
  background: rgb(253, 101, 101);
  border: 1px solid #eee;
  margin: 0 auto;
  display: block;
  padding: 8px 24px;
  border-radius: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  
}